
# Archivos generados por Unity que pueden regenerarse automáticamente
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Configuración de IDEs como Visual Studio y JetBrains Rider
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.user
*.booproj
*.svd
*.pdb

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Asegura que estas carpetas y archivos estén SIEMPRE versionados
!Assets/
!Packages/
!Packages/manifest.json
!Packages/packages-lock.json
!ProjectSettings/
!ProjectSettings/GraphicsSettings.asset

# Incluye los assets del Render Pipeline
!Assets/Settings/*.asset

.vs/Euridice_Grupal/FileContentIndex/d5436134-38d6-48ca-8eb7-2d01769393b3.vsidx
.vs/Eurydice_project/FileContentIndex/05092b48-d737-4faf-9ce1-e8e8440b0f97.vsidx
.vs/Eurydice_project/FileContentIndex/0e5efafc-889c-4854-84e3-e8c85449c603.vsidx
.vs/Eurydice_project/FileContentIndex/2f8460e9-116b-477d-b24c-ddac767725d4.vsidx
.vs/Eurydice_project/FileContentIndex/df1106a9-cb6a-4677-8222-e981927573a8.vsidx
.vs/Eurydice_project/FileContentIndex/fb29be99-2d02-4b9f-a0d2-f9402611eacc.vsidx
